mat-form-field.g-form-field {
  width: 100%;
}

.g-actions {
  display: flex;
  width: 100%;
  justify-content: center;
}

.g-action {
  display: grid;
  place-items: end end;
}

button.g-button {
  min-width: 108px;
}

mat-checkbox.mat-checkbox {
  display: block;
  margin-bottom: 18px;
}
